In [1]:
import pandas as pd

In [14]:
df = pd.read_csv("superliga2023.tsv", sep="\t")
df

             player_1  score_1  score_2           player_2 replay
0               Wirox        5        0         xdddlololo    NaN
1              Daewoo        5        0         xdddlololo    NaN
2               sanmi        5        4    cristof von roe    NaN
3          xdddlololo        5        1              sanmi    NaN
4              Daewoo        5        0              sanmi    NaN
..                ...      ...      ...                ...    ...
783            Powup1        5        0         FluoxEtina    NaN
784        Gentlemano        5        0  Durazno Sangrando    NaN
785            [SEBA]        5        2            Kmion33    NaN
786            [SEBA]        5        0         FluoxEtina    NaN
787  Ttvdonjavierlive        5        3  Durazno Sangrando    NaN

[788 rows x 5 columns]

In [15]:
df.dtypes

player_1    object
score_1      int64
score_2      int64
player_2    object
replay      object
dtype: object

In [13]:
pd.concat((df.player_1.apply(lambda x: x.lower()), df.player_2.apply(lambda x: x.lower()))).unique()

array(['wirox', 'daewoo', 'sanmi', 'xdddlololo', 'ttvdonjavierlive',
       'i_tried', 'pipenhocongranadina', 'lionheartxiii', '_onslaught',
       'thiagongg', 'comicnauta', 'donferwea', 'franciscois', 'alvarinho',
       'yagger00', 'powup1', 'ariel_tapia1984', 'eduranryu', 'redeker87',
       'xno', 'elcarnaza1', 'house_iqq', 'samusaranx', 'octaseco',
       'lowap', 'perrito38', 'gentlemano', 'rwk', 'durazno sangrando',
       '[seba]', 'vinsfield', 'fitoxnorris', 'mewtaro', 'sir.weon',
       'fluoxetina', 'cristof von roe', '(solido)', 'redda', 'yasuoh0',
       'gouken_iqq', 'fulgore', 'diplosaurio', 'unmaker', 'emogay',
       'metalero', 'abusamadres', 'echalemasbebida', 'alkeindem',
       'mrolympia', 'unknowz', 'tomaselninjapro', 'ppx_iqq', 'kmion33',
       'lordmastersex', 'krnz', 'rompehuesos', 'younghou', 'tio muffin',
       'morancio', 'tkross-itachi', 'crystowizard', 'vicente4c',
       'luxfercl', 'pplm97'], dtype=object)

In [16]:
translate = {
    "mewtaro": "mewtario",
    "fluoxetina": "fluox_etina",
    "(solido)": "solido",
    "mrolympia": "mr olympia",
    "tio muffin": "eltiomuffin"
}

In [17]:
for col in ["player_1", "player_2"]:
    df[col] = df[col].apply(lambda x: x.lower())
    df[col] = df[col].apply(lambda x: translate[x] if x in translate else x)

In [18]:
pd.concat((df.player_1, df.player_2)).unique()

array(['wirox', 'daewoo', 'sanmi', 'xdddlololo', 'ttvdonjavierlive',
       'i_tried', 'pipenhocongranadina', 'lionheartxiii', '_onslaught',
       'thiagongg', 'comicnauta', 'donferwea', 'franciscois', 'alvarinho',
       'yagger00', 'powup1', 'ariel_tapia1984', 'eduranryu', 'redeker87',
       'xno', 'elcarnaza1', 'house_iqq', 'samusaranx', 'octaseco',
       'lowap', 'perrito38', 'gentlemano', 'rwk', 'durazno sangrando',
       '[seba]', 'vinsfield', 'fitoxnorris', 'mewtario', 'sir.weon',
       'fluox_etina', 'cristof von roe', 'solido', 'redda', 'yasuoh0',
       'gouken_iqq', 'fulgore', 'diplosaurio', 'unmaker', 'emogay',
       'metalero', 'abusamadres', 'echalemasbebida', 'alkeindem',
       'mr olympia', 'unknowz', 'tomaselninjapro', 'ppx_iqq', 'kmion33',
       'lordmastersex', 'krnz', 'rompehuesos', 'younghou', 'eltiomuffin',
       'morancio', 'tkross-itachi', 'crystowizard', 'vicente4c',
       'luxfercl', 'pplm97'], dtype=object)

In [22]:
df.to_csv("superliga2023.tsv", sep="\t", index = False)